body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e2e2;
    color: #a0059b;
    font-family: Arial, sans-serif;
}

#imageContainer, #videoContainer {
    width: 45rem;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #bbbaba;
    border-radius: 5px;
}
#imageContainer img, #videoContainer  {
    max-width: 100%;
    border: 2px solid #dacfcf;
    border-radius: 10px;
}
#container {  
    display: flex;  
    width: 100%;  
}  


#webcam, #outputCanvas {  
    flex: 1; /* Takes up half of the container width */  
    display: block; /* Make it visible */  
    width: 40%;/* Adjust height to maintain aspect ratio */  
    border: 1px solid #ccc; /* Optional: Add border for visibility */  
}  
button {
    padding: 10px 20px;
    background-color: #5f10c7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #7d25ef;
}