body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e2e2;
    color: #a0059b;
    font-family: Arial, sans-serif;
}

#imageContainer, #videoContainer {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #bbbaba;
    border-radius: 5px;
}
#imageContainer img, #videoContainer video, #outputCanvas {
    max-width: 100%;
    border: 2px solid #dacfcf;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    background-color: #8a20bc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #7e117c;
}